<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
    <link rel="stylesheet" href="main.css">
</head>
<header>
  <h1>Travel Planner</h1>
</header>
<body>
    <div id="container">
        <div id="form-section">
            <form id="travel-form">
                <label for="location">Destination:</label>
                <input type="text" id="location" name="location" placeholder="Enter destination" required>

                <label for="start-date">Start Date:</label>
                <input type="date" id="start-date" name="start-date" required>

                <label for="end-date">End Date:</label>
                <input type="date" name="end-date" id="end-date" required>

                <button type="submit">Get trip Info</button>
            </form>
        </div>

        <section id="result-section">
            <div id="trip-info">
               
            </div>
        </section>
    </div>
</body>
<footer> 
  <h5>@By_Alaa_Shubita</h1>
</footer>
</html>
